<div class="header border-b-2 py-2">
    <h3 class="font-semibold text-xl"> {{user.answers|length}} réponses </h3>
</div>
<div class="answers"> 
{% for answer in user.answers %}
    <div class="bg-white border border-gray-300 p-4 mb-3 questionAnswer" data-answer-id ="{{answer.id}}">
        <div class="postHeader mb-3">
            <a href="{{path('app_question_show',{'id':answer.question.id})}}" class="block text-xl font-black p-2">{{answer.question.question}}</a>
        </div>
    {% include 'partials/_answer_comment_subcomment.html.twig' %}
</div>
{% endfor %}
</div>
