<div class="header border-b-2 flex justify-between p-4">
    <h3 class="font-semibold"> Profil </h3>
    <select name="" id="">
        <option value="" selected>Le plus récent</option>
        <option value="">Vue toutes periodes</option>
    </select>
</div>
<div class="questions">

</div>