<div class="header border-b-2">
    <h3 class="font-semibold"> 0 questions </h3>
</div>
<div class="questions mt-3">
    <div class="questions p-2">
        <h3 class="font-black">Le courage n'est-il pas la chance ?</h3>
        <p class="font-semibold text-gray-400"><span>8</span> réponses - Question posée le <span>08/08/2021</span></p>
        <div class="links flex ">
            <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-2xl bi-pencil-square"></i></a>
            <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-2xl bi-arrow-down-square mr-1"></i><span>14</span></a>
            <a href="#" class="block"></a>
        </div>
    </div>
    <div class="questions p-2">
        <h3 class="font-black">Le courage n'est-il pas la chance ?</h3>
        <p class="font-semibold text-gray-400"><span>8</span> réponses - Question posée le <span>08/08/2021</span></p>
        <div class="links flex ">
            <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-2xl bi-pencil-square"></i></a>
            <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-2xl bi-arrow-down-square mr-1"></i><span>14</span></a>
            <a href="#" class="block"></a>
        </div>
    </div>
    <div class="questions p-2">
        <h3 class="font-black">Le courage n'est-il pas la chance ?</h3>
        <p class="font-semibold text-gray-400"><span>8</span> réponses - Question posée le <span>08/08/2021</span></p>
        <div class="links flex ">
            <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-2xl bi-pencil-square"></i></a>
            <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-2xl bi-arrow-down-square mr-1"></i><span>14</span></a>
            <a href="#" class="block"></a>
        </div>
    </div>
    <div class="questions p-2">
        <h3 class="font-black">Le courage n'est-il pas la chance ?</h3>
        <p class="font-semibold text-gray-400"><span>8</span> réponses - Question posée le <span>08/08/2021</span></p>
        <div class="links flex ">
            <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-2xl bi-pencil-square"></i></a>
            <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-2xl bi-arrow-down-square mr-1"></i><span>14</span></a>
            <a href="#" class="block"></a>
        </div>
    </div>
</div>