<div class="header border-b-2 flex justify-between p-4">
    <h3 class="font-semibold"> 1 abonnements </h3>
    <select name="" id="">
        <option value="" selected>Personnes</option>
        <option value="">Espaces</option>
        <option value="">Sujets</option>
    </select>
</div>
<div class="subscriptions mt-3">
    <div class="border-b-2 flex justify-between p-4">
        <h3 class="font-black align-center">Nom de l'abonné, <span class="font-semibold text-gray-400">metier</span></h3>
        <a href="#" class="pl-4 pr-4 w-32 block text-center rounded-full border bg-indigo-100 hover:bg-indigo-200"><i class="bi bi-person-plus-fill mr-3"></i>Suivi</a>
    </div>
    <div class="border-b-2 flex justify-between p-4">
        <h3 class="font-black align-center">Nom de l'abonné, <span class="font-semibold text-gray-400">metier</span></h3>
        <a href="#" class="pl-4 pr-4 w-32 block text-center rounded-full border bg-indigo-100 hover:bg-indigo-200"><i class="bi bi-person-plus-fill mr-3"></i>Suivi</a>
    </div>
    <div class="border-b-2 flex justify-between p-4">
        <h3 class="font-black align-center">Nom de l'abonné, <span class="font-semibold text-gray-400">metier</span></h3>
        <a href="#" class="pl-4 pr-4 w-32 block text-center rounded-full border bg-indigo-100 hover:bg-indigo-200"><i class="bi bi-person-plus-fill mr-3"></i>Suivi</a>
    </div>
    <div class="border-b-2 flex justify-between p-4">
        <h3 class="font-black align-center">Langages informatiques</span></h3>
        <a href="#" class="pl-4 pr-4 w-32 block text-center rounded-full border bg-indigo-100 hover:bg-indigo-200"><i class="bi bi-person-plus-fill mr-3"></i>Suivi</a>
    </div>
    <div class="border-b-2 flex justify-between p-4">
        <h3 class="font-black align-center">Nom de l'abonné, <span class="font-semibold text-gray-400">metier</span></h3>
        <a href="#" class="pl-4 pr-4 w-32 block text-center rounded-full border bg-indigo-100 hover:bg-indigo-200"><i class="bi bi-person-plus-fill mr-3"></i>Suivi</a>
    </div>
    <div class="border-b-2 p-4">
        <h3 class="font-black align-center">Espace suivi</h3>
        <p class="font-semibold text-gray-300">3.3 k abonnées</p>
        <p>Description de l'espace</p>
    </div>
    <div class="border-b-2 flex justify-between p-4">
        <h3 class="font-black align-center">Nom de l'abonné, <span class="font-semibold text-gray-400">metier</span></h3>
        <a href="#" class="pl-4 pr-4 w-32 block text-center rounded-full border bg-indigo-100 hover:bg-indigo-200"><i class="bi bi-person-plus-fill mr-3"></i>Suivi</a>
    </div>
</div>