<div class="header border-b-2 py-2">
    <h3 class="font-semibold text-xl"> {{user.subscribers|length}} abonnés </h3>
</div>
<div class="subscribers mt-3">
    {% for subscriber in user.subscribers %}
    <a href="{{path('app_user_profile',{'pseudonym':subscriber.pseudonym})}}">
        <div class="border-b-2 flex justify-between p-4">
            <h3 class="font-black align-center"><img class="inline mr-2 rounded-full" src="https://placehold.it/40x40" alt=""> {{subscriber.pseudonym}}, <span class="font-semibold text-gray-400">metier</span></h3>
            {% if (app.user.isSubscribedTo(subscriber) and subscriber != app.user) %}
            <a href="#" class="subscribeButton pl-4 pr-4 pt-2 w-32 block text-center rounded-full border subscribed"><i class='bi bi-person-plus-fill mr-3'></i>Suivi</a>
            {% elseif (subscriber != app.user) %}
            <a href="#" class="subscribeButton pl-4 pr-4 pt-2 w-32 block text-center rounded-full border notSubscribed"><i class='bi bi-person-plus mr-3'></i>Suivre</a>
            {% endif %}
        </div>
    </a>
    {% endfor %}
    <div class="flex justify-center">
        <div style="border-top-color:transparent" class="w-16 h-16 border-4 border-blue-400 border-solid rounded-full animate-spin">
        </div>
    </div>
</div>