<div class="header border-b-2">
    <h3 class="font-semibold"> 0 abonnés </h3>
</div>
<div class="subscribers mt-3">
    <div class="border-b-2 flex justify-between p-4">
        <h3 class="font-black align-center"><img class="inline mr-2 rounded-full" src="https://placehold.it/40x40" alt=""> Nom de l'abonné, <span class="font-semibold text-gray-400">metier</span></h3>
        <p class="pl-4 pr-4 pt-2 w-20 block text-center w-32 rounded-full border bg-indigo-100">Vous suit</p>
    </div>
    <div class="border-b-2 flex justify-between p-4">
        <h3 class="font-black align-center"><img class="inline mr-2 rounded-full" src="https://placehold.it/40x40" alt=""> Nom de l'abonné, <span class="font-semibold text-gray-400">metier</span></h3>
        <p href="#" class="pl-4 pr-4 pt-2 w-20 block w-32 text-center rounded-full border bg-indigo-100">Vous suit</p>
    </div>
    <div class="border-b-2 flex justify-between p-4">
        <h3 class="font-black align-center"><img class="inline mr-2 rounded-full" src="https://placehold.it/40x40" alt=""> Nom de l'abonné, <span class="font-semibold text-gray-400">metier</span></h3>
        <p href="#" class="pl-4 pr-4 pt-2 w-20 block w-32 text-center rounded-full border bg-indigo-100">Vous suit</p>
    </div>
    <div class="border-b-2 flex justify-between p-4">
        <h3 class="font-black align-center"><img class="inline mr-2 rounded-full" src="https://placehold.it/40x40" alt=""> Nom de l'abonné, <span class="font-semibold text-gray-400">metier</span></h3>
        <p href="#" class="pl-4 pr-4 pt-2 w-20 block w-32 text-center rounded-full border bg-indigo-100">Vous suit</p>
    </div>
    <div class="flex justify-center">
        <div style="border-top-color:transparent" class="w-16 h-16 border-4 border-blue-400 border-solid rounded-full animate-spin">
        </div>
    </div>
</div>