<div class="header border-b-2">
    <h3 class="font-semibold"> 0 abonnés </h3>
</div>
<div class="subscribers mt-3">
    <div class="border-b-2 flex justify-between p-4">
        <h3 class="font-black align-center">Nom de l'abonné, <span class="font-semibold text-gray-400">metier</span></h3>
        <p class="pl-4 pr-4 w-20 block text-center w-32 rounded-full border bg-indigo-100">Vous suit</p>
    </div>
    <div class="border-b-2 flex justify-between p-4">
        <h3 class="font-black align-center">Nom de l'abonné, <span class="font-semibold text-gray-400">metier</span></h3>
        <p href="#" class="pl-4 pr-4 w-20 block w-32 text-center rounded-full border bg-indigo-100">Vous suit</p>
    </div>
    <div class="border-b-2 flex justify-between p-4">
        <h3 class="font-black align-center">Nom de l'abonné, <span class="font-semibold text-gray-400">metier</span></h3>
        <p href="#" class="pl-4 pr-4 w-20 block w-32 text-center rounded-full border bg-indigo-100">Vous suit</p>
    </div>
    <div class="border-b-2 flex justify-between p-4">
        <h3 class="font-black align-center">Nom de l'abonné, <span class="font-semibold text-gray-400">metier</span></h3>
        <p href="#" class="pl-4 pr-4 w-20 block w-32 text-center rounded-full border bg-indigo-100">Vous suit</p>
    </div>
</div>