{% extends 'base.html.twig' %}

{% block title %}Ecrire des réponses{% endblock %}

{% block body %}
    <div class="container mx-auto">
        <div class="grid grid-cols-10 gap-4">
            <div class="col-span-3">
                <h2 class="text-center font-semibold text-gray-400 border-b-2 p-1">Questions</h2>
                <ul class="text-center">
                    <li class="list-item pb-2 p-1 hover:bg-gray-200"><a href="#">Questions pour vous</a></li>
                    <li class="list-item pb-2 p-1 hover:bg-gray-200"><a href="#">Demandes de réponses</a></li>
                    <li class="list-item p-1 text-indigo-400 bg-indigo-100 font-bold"><a href="#">Brouillons de réponses</a></li>
                </ul>
            </div>
            <div class="col-span-5">
                <div class="bg-white border border-gray-300">
                    <h2 class="text-gray-400 p-2 border-b-2">Questions pour vous</h2>
                    <div class="questions p-2">
                        <h3 class="font-black">Le courage n'est-il pas la chance ?</h3>
                        <p class="font-semibold text-gray-400"><span>8</span> réponses - Question posée le <span>08/08/2021</span></p>
                        <div class="links flex ">
                            <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-2xl bi-pencil-square"></i></a>
                            <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-2xl bi-arrow-down-square mr-1"></i><span>14</span></a>
                            <a href="#" class="block"></a>
                        </div>
                    </div>
                    <div class="questions p-2">
                        <h3 class="font-black">Le courage n'est-il pas la chance ?</h3>
                        <p class="font-semibold text-gray-400"><span>8</span> réponses - Question posée le <span>08/08/2021</span></p>
                        <div class="links flex ">
                            <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-2xl bi-pencil-square"></i></a>
                            <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-2xl bi-arrow-down-square mr-1"></i><span>14</span></a>
                            <a href="#" class="block"></a>
                        </div>
                    </div>
                    <div class="questions p-2">
                        <h3 class="font-black">Le courage n'est-il pas la chance ?</h3>
                        <p class="font-semibold text-gray-400"><span>8</span> réponses - Question posée le <span>08/08/2021</span></p>
                        <div class="links flex ">
                            <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-2xl bi-pencil-square"></i></a>
                            <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-2xl bi-arrow-down-square mr-1"></i><span>14</span></a>
                            <a href="#" class="block"></a>
                        </div>
                    </div>
                    <div class="questions p-2">
                        <h3 class="font-black">Le courage n'est-il pas la chance ?</h3>
                        <p class="font-semibold text-gray-400"><span>8</span> réponses - Question posée le <span>08/08/2021</span></p>
                        <div class="links flex ">
                            <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-2xl bi-pencil-square"></i></a>
                            <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-2xl bi-arrow-down-square mr-1"></i><span>14</span></a>
                            <a href="#" class="block"></a>
                        </div>
                    </div>
                    <div class="questions p-2">
                        <h3 class="font-black">Le courage n'est-il pas la chance ?</h3>
                        <p class="font-semibold text-gray-400"><span>8</span> réponses - Question posée le <span>08/08/2021</span></p>
                        <div class="links flex ">
                            <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-2xl bi-pencil-square"></i></a>
                            <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-2xl bi-arrow-down-square mr-1"></i><span>14</span></a>
                            <a href="#" class="block"></a>
                        </div>
                    </div>
                </div>
                <div class="bg-white flex flex-col p-4 border border-gray-300">
                    <h3 class="text-xl"> Ajouter des sujets que vous connaissez</h3>
                    <p class="my-2">L'ajout de sujets nous permettra de trouver des questions auxquelles vous pouvez répondre</p>
                    <a href="#" class="hover:bg-blue-200 self-center block text-indigo-600 bg-blue-100 p-2 rounded-xl w-40 text-center font-semibold">Ajouter des sujets</a>
                </div>
            </div>
            <div class="col-span-2">
                <div class="bg-white flex flex-col p-4 border border-gray-300">
                    <h3 class="text-xl"> Ajouter des sujets que vous connaissez</h3>
                    <p class="my-2">L'ajout de sujets nous permettra de trouver des questions auxquelles vous pouvez répondre</p>
                    <a href="#" class="hover:bg-blue-200 self-center block text-indigo-600 bg-blue-100 p-2 rounded-xl w-40 text-center font-semibold">Ajouter des sujets</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
