{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container mx-auto p-4 ">
        <div class="grid grid-cols-12 gap-4">
            <div class="hidden col-span-12 sm:col-span-12 md:col-span-12 md:block xl:col-span-2 ">
                {% include 'partials/_left_side_bar.html.twig' %}
                <div class="hidden xl:block">
                    {% include 'partials/_footer.html.twig' %}
                </div>
            </div>
            <div class="col-span-12 sm:col-span-12 md:col-span-12 xl:col-span-7">
                <div class="container mx-auto homepage">
                    {% if app.user is not same as null %}
                    <a class="modal-open" href="#">
                        <div class="bg-white p-4 mb-4 border border-gray-300">
                            <div class="flex">
                                <img class="block rounded-full" src="/images/profile_pictures/image-{{app.user.id}}.jpg" alt="" width="40px">
                                <p class="text self-center pl-3">{{app.user.firstName}} {{app.user.lastName|upper}}</p>
                            </div>
                            <p class="text-2xl font-semibold">Quel est votre question ou quel est votre lien ?</p>
                        </div>
                    </a>
                    {% include 'partials/modals/_question_create_modal.html.twig' %}
                    {% endif %}
                    <div id="content">
                        {% include 'partials/question_headers/question_header_full.html.twig' %}
                    </div>
                </div>
                <div class="flex justify-center hidden loadingMorePostsSpinner">
                    <div style="border-top-color:transparent" class="w-16 h-16 border-4 border-blue-400 border-solid rounded-full animate-spin">
                    </div>
                </div>
                <div class="flex justify-center" id="generateHome">
                    <a href="#" class="mt-4 text-center rounded-full w-80 p-3 bg-indigo-500 font-bold text-white text-xl">Charger plus de réponses </a>
                </div>
            </div>
            <div class="hidden col-span-12 sm:col-span-12 md:block lg:col-span-12 xl:col-span-3 bg-white">
            {% include 'partials/_right_side_bar.html.twig' %}  
            </div>
        </div>
        <div class="block xl:hidden">
            {% include 'partials/_footer.html.twig' %}
        </div>
    </div>
{% endblock %}
