<div class="block py-5 text-white font-bold text-center {{label}} flashMessage" style="opacity:0">
	<button class="flashMessageCloseButton text-xl" type="button" class="close" data-dismiss="alert">&times;</button>
	{{message}}
</div>
