<div class="border-r-4 p-4 text-center {{label}} flashMessage" style="opacity:0">
	<button class="flashMessageCloseButton text-xl" type="button" class="close" data-dismiss="alert">&times;</button>
	{{message}}
</div>
