<footer class="border-t-2 p-4 m-4 ">
    <nav>
        <ul class="list-disc list-inside flex flex-row flex-wrap mb-3">
            <li class="list-item"><a href="{{path('app_about')}}">A propos</a></li>
            <li class="list-item"><a href="#">Emplois</a></li>
            <li class="list-item"><a href="#">Confidentialité</a></li>
            <li class="list-item"><a href="#">Politique d'Utilisation Acceptable</a></li>
            <li class="list-item"><a href="#">Entreprises</a></li>
            <li class="list-item"><a href="#">Presse</a></li>
            <li class="list-item"><a href="{{path('app_impressum')}}">Mentions légales</a></li>
        </ul>
        <p>Made by Alexandre RAVICHANDRAN</p>
        <a class="block text-center" href="https://github.com/AlexandreRavichandran/Quiver"><i class="bi text-xl bi-github"></i></a>
    </nav>
</footer>