<footer class="border-t-2 p-4 m-4 ">
    <nav>
        <ul class="flex flex-row flex-wrap justify-center mb-3">
            <li class="list-item pr-2"><a href="{{path('app_about')}}">A propos</a></li>
            <li class="list-item pr-2"><a href="{{path('app_impressum')}}">Mentions légales</a></li>
        </ul>
        <p class="text-center">Made by Alexandre RAVICHANDRAN</p>
        <a class="block text-center" href="https://github.com/AlexandreRavichandran/Quiver"><i class="bi text-xl bi-github"></i></a>
    </nav>
</footer>