<nav>
    <ul class="text-center">
        <a class="block text-gray-400" href="#"><i class="bi bi-plus text-gray-400"></i> Créer un espace</a>
        <li class="list-item p-3"><a href="#">Espace 1</a></li>
        <li class="list-item p-3"><a href="#">Espace 2</a></li>
        <li class="list-item p-3"><a href="#">Espace 3</a></li>
        <li class="list-item p-3"><a href="#">Espace 4</a></li>
        <li class="list-item p-3"><a href="#">Espace 5</a></li>
        <li class="list-item p-3"><a href="#">Espace 6</a></li>
        <li class="list-item p-3"><a href="#">Espace 7</a></li>
        <li class="list-item p-3"><a href="#">Espace 8</a></li>
        <a class="block p-3" href="{{path('app_space_index')}}"><i class="bi bi-compass"></i> Découvrir des espaces</a>
    </ul>

</nav>

