<nav class="p-2">
    <div class="row text-center">
        <h3 class="border-b-2 py-4 mb-3"> Espaces a suivre </h3>
        <ul>
        {% for space in spaces %}
            <li class="list-item p-3 flex justify-center">
                <a class="block" href="{{path('app_space_show',{'id':space.id})}}">
                    <img class="inline" src="https://placehold.it/25x25" alt="">
                    {{space.name}}
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
</nav>