<nav class="p-2">
    <div class="row text-center">
        <h3 class="border-b-2 py-4 mb-3"> Espaces a suivre </h3>
        <ul>
        {% for space in spaces %}
            <li class="list-item p-3 flex justify-center hover:bg-gray-200">
                <a class="block" href="{{path('app_space_show',{'id':space.id})}}">
                <div class="grid grid-cols-12 pt-3">
                    <div class="col-span-6 flex justify-end">
                        <img class="inline" src="https://placehold.it/25x25" alt="">
                    </div>
                    <div class="col-span-6 ml-2 flex justify-start">
                        {{space.name}}
                    </div>
                </div>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
</nav>
