<div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
    <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
        <div class="modal-container bg-white w-11/12 md:w-8/12 lg:w-8/12 xl:w-5/12 mx-auto rounded shadow-lg z-50 overflow-y-auto"> 
            <div class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
                <i class="bi bi-x-lg"></i>
            </div>

           
            <div class="modal-content py-4 text-left px-6">
           
            <div class="flex justify-start items-center pb-3">
                <div class="modal-close cursor-pointer z-50 p-2 hover:bg-gray-200">
                    <i class="bi text-xl bi-x-lg"></i>
                </div>
            </div>

            <!--Body-->
            <h1 class="text-xl">Créer un espace</h1>
            <p class="p-2">Partagez vos interêts, organisez du contenu, proposez des discussions, et plus encore.</p>
            
            {# Inserer ici le formaulaire de creation d'espace #}
            <form action="{{path('app_space_create')}}" method="post">
                <div class="mb-6">
                    <label class="block text-gray-800 required" for="space_name">Nom</label>
                    <input type="text" id="space_name" name="space_name" required="required" class="mt-1 w-full">
                </div>
                <div class="mb-6">
                    <label class="block text-gray-800" for="space_description">Description brève</label>
                    <textarea id="space_description" name="space_description" class="mt-1 w-full"></textarea>
                </div>
                <!--Footer-->
                <div class="flex justify-end pt-2">
                    <button class="px-5 bg-indigo-400 p-3 rounded-lg text-white hover:bg-indigo-600">Créer</button>
                </div>
            </form>
        </div>
    </div>
</div>