{% extends 'base.html.twig' %}

{% block title %} Suivi {% endblock %}

{% block body %}
    <div class="container mx-auto">
        <div class="grid grid-cols-7 gap-4 flex justify-between">
            <div class="col-span-1">
                {% include 'partials/_leftSideBar.html.twig' %}
                {% include 'partials/_footer.html.twig' %}
            </div>
            <div class="col-span-5">
                <div class="container mx-auto">
                    <div class="bg-white p-4 mb-4 border border-gray-300">
                        <p class="text"> Alexandre RAVICHANDRAN</p>
                        <p class="text-2xl font-semibold">Quel est votre question ou quel est votre lien ?</p>
                    </div>
                    <div class="bg-white p-4 mb-3 border border-gray-300">
                        <div class="postHeader">
                            <p class="text-xl">Espace 1</p>
                            <p class="text-sm text-gray-400">Publication par Alexandre RAVICHANDRAN - le 15/04/2018</p>
                            <a href="{{path('app_question_show')}}" class="block text-xl font-black">Quel est votre question ou quel est votre lien ?</a>
                        </div>
                        <div class="postBody">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, odio beatae, in, laborum animi nulla omnis eius inventore illo molestias voluptatum et est repellat recusandae neque! At ab vitae fugit pariatur voluptates delectus esse, quae provident non repellendus, corrupti eos ea nihil dignissimos soluta, quidem vel culpa itaque assumenda minima consequuntur dolores! Dicta recusandae provident fugit voluptatum architecto numquam, dolor eos expedita accusamus quos fuga culpa ipsa, dolorem totam nulla incidunt voluptas nam odio dignissimos neque quasi quaerat explicabo! Repudiandae placeat, architecto doloribus sit cupiditate labore. Reiciendis illo ipsam libero! Temporibus perferendis tenetur quia eos rerum asperiores accusamus quidem, quo inventore aut cumque veritatis deserunt excepturi fugit reprehenderit iste velit adipisci cum soluta minima totam, modi voluptate voluptatem odit! Odit voluptatibus itaque repellat! Consectetur amet laudantium adipisci sed, veniam ipsum quae rem reiciendis, odio asperiores possimus est quidem obcaecati eos non quisquam aliquam corrupti. Deserunt incidunt enim porro minima eos.</p>
                            <p> 23.6 k vues</p>
                        </div>
                        <div class="postFooter">
                            <div class="grid grid-cols-7">
                                <div class="col-span-4 flex justify-start">
                                    <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-xl bi-arrow-up-square mr-1"></i><span>14</span></a>
                                    <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-xl bi-arrow-down-square mr-1"></i><span>14</span></a>
                                    <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-xl bi-chat mr-1"></i><span>14</span></a>
                                </div>
                                <div class="col-span-3 flex justify-end">
                                    <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi p-2 text-xl bi-three-dots"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white p-4 mb-3 border border-gray-300">
                        <div class="postHeader">
                            <p class="text-xl">Espace 2</p>
                            <p class="text-sm text-gray-400">Publication par Alexandre RAVICHANDRAN - le 15/04/2018</p>
                            <a href="{{path('app_question_show')}}" class="block text-xl font-black">Quel est votre question ou quel est votre lien ?</a>
                        </div>
                        <div class="postBody">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, odio beatae, in, laborum animi nulla omnis eius inventore illo molestias voluptatum et est repellat recusandae neque! At ab vitae fugit pariatur voluptates delectus esse, quae provident non repellendus, corrupti eos ea nihil dignissimos soluta, quidem vel culpa itaque assumenda minima consequuntur dolores! Dicta recusandae provident fugit voluptatum architecto numquam, dolor eos expedita accusamus quos fuga culpa ipsa, dolorem totam nulla incidunt voluptas nam odio dignissimos neque quasi quaerat explicabo! Repudiandae placeat, architecto doloribus sit cupiditate labore. Reiciendis illo ipsam libero! Temporibus perferendis tenetur quia eos rerum asperiores accusamus quidem, quo inventore aut cumque veritatis deserunt excepturi fugit reprehenderit iste velit adipisci cum soluta minima totam, modi voluptate voluptatem odit! Odit voluptatibus itaque repellat! Consectetur amet laudantium adipisci sed, veniam ipsum quae rem reiciendis, odio asperiores possimus est quidem obcaecati eos non quisquam aliquam corrupti. Deserunt incidunt enim porro minima eos.</p>
                            <p> 23.6 k vues</p>
                        </div>
                        <div class="postFooter">
                            <div class="grid grid-cols-7">
                                <div class="col-span-4 flex justify-start">
                                    <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-xl bi-arrow-up-square mr-1"></i><span>14</span></a>
                                    <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-xl bi-arrow-down-square mr-1"></i><span>14</span></a>
                                    <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-xl bi-chat mr-1"></i><span>14</span></a>
                                </div>
                                <div class="col-span-3 flex justify-end">
                                    <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi p-2 text-xl bi-three-dots"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white p-4 mb-3 border border-gray-300">
                        <div class="postHeader">
                            <p class="text-xl">Espace 3</p>
                            <p class="text-sm text-gray-400">Publication par Alexandre RAVICHANDRAN - le 15/04/2018</p>
                            <a href="{{path('app_question_show')}}" class="block text-xl font-black">Quel est votre question ou quel est votre lien ?</a>
                        </div>
                        <div class="postBody">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, odio beatae, in, laborum animi nulla omnis eius inventore illo molestias voluptatum et est repellat recusandae neque! At ab vitae fugit pariatur voluptates delectus esse, quae provident non repellendus, corrupti eos ea nihil dignissimos soluta, quidem vel culpa itaque assumenda minima consequuntur dolores! Dicta recusandae provident fugit voluptatum architecto numquam, dolor eos expedita accusamus quos fuga culpa ipsa, dolorem totam nulla incidunt voluptas nam odio dignissimos neque quasi quaerat explicabo! Repudiandae placeat, architecto doloribus sit cupiditate labore. Reiciendis illo ipsam libero! Temporibus perferendis tenetur quia eos rerum asperiores accusamus quidem, quo inventore aut cumque veritatis deserunt excepturi fugit reprehenderit iste velit adipisci cum soluta minima totam, modi voluptate voluptatem odit! Odit voluptatibus itaque repellat! Consectetur amet laudantium adipisci sed, veniam ipsum quae rem reiciendis, odio asperiores possimus est quidem obcaecati eos non quisquam aliquam corrupti. Deserunt incidunt enim porro minima eos.</p>
                            <p> 23.6 k vues</p>
                        </div>
                        <div class="postFooter">
                            <div class="grid grid-cols-7">
                                <div class="col-span-4 flex justify-start">
                                    <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-xl bi-arrow-up-square mr-1"></i><span>14</span></a>
                                    <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-xl bi-arrow-down-square mr-1"></i><span>14</span></a>
                                    <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-xl bi-chat mr-1"></i><span>14</span></a>
                                </div>
                                <div class="col-span-3 flex justify-end">
                                    <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi p-2 text-xl bi-three-dots"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}