{% extends 'base.html.twig' %}

{% block title %}Espaces{% endblock %}

{% block body %}
    <div class="container mx-auto">
        <div class="grid grid-cols-10 gap-4 flex justify-between">
            <div class="col-span-6 p-4 bg-white border border-gray-300">
                <div class="spaceHeader flex justify-between">
                    <h1 class="font-black text-2xl">Vos espaces</h1>
                    <select name="" id="">
                        <option value="">Ordre alphabetique</option>
                        <option value="">Par rôle</option>
                        <option value="">Visité récemment</option>
                    </select>
                </div>
                <span class="flex justify-start mt-2">
                    <a href="#" class=" block p-2 rounded border mr-4"><i class="bi bi-plus-circle mr-1"></i>Créer un espace</a>
                    <a href="#" class="block p-2 rounded border"><i class="bi bi-compass mr-1"></i>Découvrir des espaces</a>
                </span>
                <div class="userSpaceList">
                    <div class="userSpace flex justify-between p-2 border-b-2">
                        <p class="font-black"><img class="inline mr-3" src="https://placehold.it/60x60" alt="">Espace 1 </p>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                    <div class="userSpace flex justify-between p-2 border-b-2">
                        <p class="font-black"><img class="inline mr-3" src="https://placehold.it/60x60" alt="">Espace 2 </p>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                    <div class="userSpace flex justify-between p-2 border-b-2">
                        <p class="font-black"><img class="inline mr-3" src="https://placehold.it/60x60" alt="">Espace 3 </p>
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </div>
            </div> 
        </div>
        <div class="grid grid-cols-10 gap-4 flex justify-between">
            <div class="col-span-6 p-4 ">
                <h2 class="font-black text-2xl"> Découvrir des espaces </h2>
                <div class="grid grid-cols-9 gap-4 mt-4 spaceList flex flex-wrap">
                    <div class="col-span-3 spaceCard bg-white rounded-xl p-2 border border-gray-300">
                        <img class="block ml-auto mr-auto" src="https://placehold.it/150x150" alt="">
                        <h3 class="text-center font-black text-xl"> Lorem ipsum dolor sit. </h3>
                        <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero veritatis, tempore quasi expedita earum deserunt a fugiat minima ratione error? </p>
                    </div>
                    <div class="col-span-3 spaceCard bg-white rounded-xl p-2 border border-gray-300">
                        <img class="block ml-auto mr-auto" src="https://placehold.it/150x150" alt="">
                        <h3 class="text-center font-black text-xl"> Lorem ipsum dolor sit. </h3>
                        <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero veritatis, tempore quasi expedita earum deserunt a fugiat minima ratione error? </p>
                    </div>
                    <div class="col-span-3 spaceCard bg-white rounded-xl p-2 border border-gray-300">
                        <img class="block ml-auto mr-auto" src="https://placehold.it/150x150" alt="">
                        <h3 class="text-center font-black text-xl"> Lorem ipsum dolor sit. </h3>
                        <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero veritatis, tempore quasi expedita earum deserunt a fugiat minima ratione error? </p>
                    </div>
                    <div class="col-span-3 spaceCard bg-white rounded-xl p-2 border border-gray-300">
                        <img class="block ml-auto mr-auto" src="https://placehold.it/150x150" alt="">
                        <h3 class="text-center font-black text-xl"> Lorem ipsum dolor sit. </h3>
                        <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero veritatis, tempore quasi expedita earum deserunt a fugiat minima ratione error? </p>
                    </div>
                    <div class="col-span-3 spaceCard bg-white rounded-xl p-2 border border-gray-300">
                        <img class="block ml-auto mr-auto" src="https://placehold.it/150x150" alt="">
                        <h3 class="text-center font-black text-xl"> Lorem ipsum dolor sit. </h3>
                        <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero veritatis, tempore quasi expedita earum deserunt a fugiat minima ratione error? </p>
                    </div>
                    <div class="col-span-3 spaceCard bg-white rounded-xl p-2 border border-gray-300">
                        <img class="block ml-auto mr-auto" src="https://placehold.it/150x150" alt="">
                        <h3 class="text-center font-black text-xl"> Lorem ipsum dolor sit. </h3>
                        <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero veritatis, tempore quasi expedita earum deserunt a fugiat minima ratione error? </p>
                    </div>
                    <div class="col-span-3 spaceCard bg-white rounded-xl p-2 border border-gray-300">
                        <img class="block ml-auto mr-auto" src="https://placehold.it/150x150" alt="">
                        <h3 class="text-center font-black text-xl"> Lorem ipsum dolor sit. </h3>
                        <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero veritatis, tempore quasi expedita earum deserunt a fugiat minima ratione error? </p>
                    </div>
                    <div class="col-span-3 spaceCard bg-white rounded-xl p-2 border border-gray-300">
                        <img class="block ml-auto mr-auto" src="https://placehold.it/150x150" alt="">
                        <h3 class="text-center font-black text-xl"> Lorem ipsum dolor sit. </h3>
                        <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero veritatis, tempore quasi expedita earum deserunt a fugiat minima ratione error? </p>
                    </div>
                    <div class="col-span-3 spaceCard bg-white rounded-xl p-2 border border-gray-300">
                        <img class="block ml-auto mr-auto" src="https://placehold.it/150x150" alt="">
                        <h3 class="text-center font-black text-xl"> Lorem ipsum dolor sit. </h3>
                        <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero veritatis, tempore quasi expedita earum deserunt a fugiat minima ratione error? </p>
                    </div>
                    <div class="col-span-3 spaceCard bg-white rounded-xl p-2 border border-gray-300">
                        <img class="block ml-auto mr-auto" src="https://placehold.it/150x150" alt="">
                        <h3 class="text-center font-black text-xl"> Lorem ipsum dolor sit. </h3>
                        <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero veritatis, tempore quasi expedita earum deserunt a fugiat minima ratione error? </p>
                    </div>
                    <div class="col-span-3 spaceCard bg-white rounded-xl p-2 border border-gray-300">
                        <img class="block ml-auto mr-auto" src="https://placehold.it/150x150" alt="">
                        <h3 class="text-center font-black text-xl"> Lorem ipsum dolor sit. </h3>
                        <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero veritatis, tempore quasi expedita earum deserunt a fugiat minima ratione error? </p>
                    </div>
                    <div class="col-span-3 spaceCard bg-white rounded-xl p-2 border border-gray-300">
                        <img class="block ml-auto mr-auto" src="https://placehold.it/150x150" alt="">
                        <h3 class="text-center font-black text-xl"> Lorem ipsum dolor sit. </h3>
                        <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero veritatis, tempore quasi expedita earum deserunt a fugiat minima ratione error? </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}
