@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .active{
        @apply border-b-4 border-indigo-500 text-indigo-500
    }

    .profileActive{
        @apply border-b-4 text-indigo-500 border-indigo-500 
    }

    .liked{
        @apply text-white bg-indigo-500 border-indigo-500
    }

    .disliked{
        @apply text-white bg-red-500 border-red-500
    }

    .notSubscribed{
        @apply bg-indigo-100 hover:bg-indigo-200
    }

    .subscribed{
        @apply bg-gray-100 hover:bg-gray-200
    }

    .notSubscribedSpace{
        @apply bg-indigo-100 hover:bg-indigo-200
    }

    .subscribedSpace{
        @apply bg-gray-100 hover:bg-gray-200
    }


    .link-subscribed{
        @apply text-gray-300
    }
    
    .link-unsubscribed{
        @apply text-indigo-500
    }
}

.loginBackground
{
    background-image: url('../../public/images/login-background.jpg');
    background-repeat: repeat;
}

.commentSpace
{
    width: 100% ;
    min-height: 57px ;
    max-height: 300px ;
}