{% for space in user_following_spaces %}
    <a href="{{path('app_space_show',{'id':space.id})}}">
        <div class="userSpace flex justify-between p-2 border-b-2">
            <p class="font-black"><img class="inline mr-3" src="https://picsum.photos/60/60" alt="">{{space.name}} </p>
            <i class="bi bi-chevron-right"></i>
        </div>
    </a>
{% endfor %}